<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
    Main spring application context.

    Copyright (c) 2007 by 1&1 Internet AG

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License version 2 as
    published by the Free Software Foundation. A copy of this license is
    included with this software in the file "LICENSE.txt".

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    $Id$
-->

<beans>
    <!-- JMX Beans -->
    <bean id="mbeanServer"
            class="org.springframework.jmx.support.MBeanServerFactoryBean">
        <property name="locateExistingServerIfPossible" value="true"/>
    </bean>

    <bean id="exporter" class="org.springframework.jmx.export.MBeanExporter" lazy-init="false">
        <property name="server" ref="mbeanServer"/>

        <property name="beans">
            <map>
                <entry key="de.web.management:type=VersionInfo,name=@project.name@" 
                       value-ref="versionInfo"/>
            </map>
        </property>

        <!-- export "value" property only -->
        <property name="assembler">
          <bean class="org.springframework.jmx.export.assembler.MethodNameBasedMBeanInfoAssembler">
            <property name="managedMethods">
              <value>getValue</value>
            </property>
          </bean>
        </property>

        <!-- Ensure version information is unique -->
        <property name="registrationBehaviorName"
                  value="REGISTRATION_FAIL_ON_EXISTING"/>
    </bean>

    <!-- Application version information exported according to WEB.DE standards -->
    <bean id="versionInfo" class="java.text.Annotation">
        <constructor-arg>
            <map>
                <entry key="name" value="@project.name@"/>
                <entry key="type" value="application"/>
                <entry key="version" value="@project.version@"/>
            </map>
        </constructor-arg>
    </bean>

</beans>
